.footer {
  width: 100%;
  min-height: 152px;
}

.footer .row:nth-child(1) .col:nth-child(1) {
  gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) {
  gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.footer .social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .social i {
  font-size: 24px;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-brand {
  width: 100px;
  height: 34px;
  background-color: var(--primary-color);
}
